.stepper-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0px;
  justify-content: center;
  box-sizing: border-box;
  background-color: white;

  .stepper-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 300px;
    // border: 1px solid black;

    .step {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      z-index: 1;
    }

    .circle {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: lightgray;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 5px;
    }

    .step.active .circle {
      background-color: #ff0000;
      color: white;
    }

    .label {
      font-size: 14px;
    }

    .line {
      position: absolute;
      top: 20px;
      left: 0;
      right: 0;
      height: 2px;
      background-color: lightgray;
      z-index: 0;
    }
  }
  .step-content {
    margin-bottom: 20px;
  }

  .stepper-buttons {
    display: flex;
    gap: 10px;

    button {
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      background-color: black;
      border: none;
      color: white;
      border-radius: 5px;

      &:disabled {
        background-color: lightgray;
        cursor: not-allowed;
      }
    }
  }
}
