@import "../Mixin.scss";

.lbox-main {
  width: 100%;
  margin: 40px 0;
  padding: 16px;
  box-sizing: border-box;

  @include max650 {
    padding: 10px;
  }

  .lbox-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.059);
    border-radius: 10px;

    @include max650 {
      justify-content: center;
    }

    .lbox-left {
      height: auto;
      width: 25%;
      display: flex;
      flex-direction: column;
      text-align: start;

      @include max650 {
        display: none;
      }

      span {
        padding: 15px 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.059);
        cursor: pointer;
      }
    }

    .lbox-right {
      border-left: 1px solid rgba(0, 0, 0, 0.059);
      height: fit-content;
      width: 90%;
      padding: 0px 40px;

      @include max650 {
        padding: 10px 0px;
        border: none;
      }
    }
  }
}
